entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Start Full-Stack Dev"

[[workflows.workflow]]
name = "Start Full-Stack Dev"
author = 44352172
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && node index.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm start"

[[ports]]
localPort = 3000
externalPort = 80
